@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  /* color */
  --primary-color: #627d8a;
  --secondary-color: #8aa4b1;
  --tertiary-color: #8fa3ad;

  --background-color: #e2eaee;
  --background-secondary: #e2eaee;

  --text-primary-color: #a2b2ba;
  --text-secondary-color: #8aa4b1;

  --background-tertiary: #627D8A;

  /* sizing */
  --border-thickness: 2px;
}

html {
  height: 100%;
}

body {
  /* resets */
  min-height: 100%;
  display: flex;
  flex-direction: column;

  /* styling */
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: 700;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  border-radius: 50px;
  padding: 20px 150px 20px 30px;
  border: var(--border-thickness) solid transparent;
  width: 40ch;
  transition: background 0.3s ease-in-out, border 0.5s ease-in-out;
}

input::placeholder {
  font-weight: 600;
  color: var(--secondary-color);
}

input:focus-visible {
  outline: none;
  border: var(--border-thickness) solid var(--secondary-color);
}

button {
  width: 175px;
  border-radius: var(--border-radius, 50px);
  border: none;
  align-self: center;
  padding: 17px 52px 17px 53px;
  background-color: var(--btn-background-color, var(--background-secondary));
  font-size: 20px;
  font-weight: 700;
  color: var(--btn-text-color, var(--primary-color));
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 0px 320px 89px 0px rgba(123, 177, 204, 0),
    0px 205px 82px 0px rgba(123, 177, 204, 0.01),
    0px 115px 69px 0px rgba(123, 177, 204, 0.05),
    0px 51px 51px 0px rgba(123, 177, 204, 0.09),
    0px 13px 28px 0px rgba(123, 177, 204, 0.1);
}

.button-secondary {
  --btn-background-color: #627d8a;
  --btn-text-color: #fff;
}
/* classes */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.logout {
  justify-content: space-between;
  left: 20px;
  padding: 0;
}

.page-indicator,
.logout {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  color: var(--primary-color);
  position: fixed;
  top: 20px;
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 320px 89px 0px rgba(123, 177, 204, 0),
    0px 205px 82px 0px rgba(123, 177, 204, 0.01),
    0px 115px 69px 0px rgba(123, 177, 204, 0.05),
    0px 51px 51px 0px rgba(123, 177, 204, 0.09),
    0px 13px 28px 0px rgba(123, 177, 204, 0.1);
}

.page-indicator {
  right: 20px;
}

.page-indicator img,
.logout img {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.login-container,
.dashboard {
  --space: -50%;
  margin: auto auto;
  background-color: #ffffff;
  padding: 50px 50px;
  border-radius: 30px;
  box-shadow: 0px 320px 89px 0px rgba(123, 177, 204, 0),
    0px 205px 82px 0px rgba(123, 177, 204, 0.01),
    0px 115px 69px 0px rgba(123, 177, 204, 0.05),
    0px 51px 51px 0px rgba(123, 177, 204, 0.09),
    0px 13px 28px 0px rgba(123, 177, 204, 0.1);
  position: relative;
}

.login-container::before,
.login-container::after {
  position: absolute;
  content: "Login";
  top: 50%;
  translate: 0% -50%;

  font-size: 100px;
  font-weight: 700;
  color: var(--tertiary-color);
}

.login-container::before {
  left: var(--space);
  rotate: -90deg;
}

.login-container::after {
  right: var(--space);
  rotate: 90deg;
}

.login-pfp {
  height: 200px;
  aspect-ratio: 1;
  background-color: var(--background-secondary);
  border: 5px solid var(--tertiary-color);
  margin: 0 auto 50px auto;
  border-radius: 50%;
}

.login-form {
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.login-form input {
  background-color: var(--background-secondary);
}

.login-form input:focus-visible {
  background-color: transparent;
}

.watermark {
  color: var(--text-primary-color);
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  text-align: center;
}

.dashboard {
  grid-template-columns: 487px 682px;
  gap: 100px;
}

.options {
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
}

.options ul {
  flex-direction: column;
  gap: 50px;
}

.options ul li {
  background: #e2eaee;
  width: 487px !important;
  padding: 20px 41px 19px 54px;
  border-radius: 20px;
}

.options ul li.active {
  background: var(--background-tertiary);
  color: #fff;
}

.options ul li.active a {
  color: #fff;
}

.options ul li a {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options ul li a svg {
  height: 50px;
  width: 50px;
}

.options button {
  margin-top: 20px;
}

.dashboard-image {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(143, 172, 187, 0.5) 0%,
    rgba(219, 234, 241, 0.1) 100%
  );
}

.dashboard-form {
  background-color: var(--background-color);
  border-radius: 30px;
  padding: 40px 20px;
  flex-direction: column;
  gap: 30px;
}

.dashboard-form input {
  width: 100%;
}
